In [71]:
import sys
import os
# requests allows you to send requests, without the need for manual labor
# https://2.python-requests.org/en/master/
import requests
# a toolkit for dissecting a document and extracting what you need
# https://www.crummy.com/software/BeautifulSoup/
from bs4 import BeautifulSoup

import pandas as pd

In [170]:
url = "http://www.adcon.rn.gov.br/ACERVO/sesap/DOC/DOC000000000228094.PDF"

# request to find the documents
pdf = requests.get(url)

In [171]:
file_name = '{}'.format(
    "doc"
    .lstrip()  # remove initial space
    .lower()  # convert to lowcase
    .replace(' ', '_')
    .replace('/', '_')
    .replace('-', '_'))
open('{}.pdf'.format(file_name), 'wb').write(pdf.content)

351331

In [231]:
from tabula import read_pdf

# df = read_pdf("doc.pdf", pages=[8, 9, 10], stream=True)[0]
dfs = read_pdf("doc.pdf", stream=True, pages=[8, 9, 10])

In [221]:
dfs[2]

               municipio  suspeito  provavel  descartado  confirmado
0                    NaN  SUSPEITO  PROVÁVEL  DESCARTADO  CONFIRMADO
1             RESIDÊNCIA       NaN       NaN         NaN         NaN
2         Frutuoso Gomes         -         -           1           -
3              Goianinha         3         -           1           -
4      Governado Dix-Sep       NaN       NaN         NaN         NaN
5                    NaN         4         -           -           -
6                 Rosado       NaN       NaN         NaN         NaN
7                Grossos         1         -           -           -
8                Guamaré        23         -           4           -
9              Ipanguaçu         1         -           -           -
10               Ipueira         3         -           -           -
11                 Itajá         2         -           -           -
12        Januário Cicco         1         -           -           -
13                  Japi         -         -           1           -
14      Jardim do Seridó         4         -           -           -
15           João Câmara         3         -           -           -
16              Jucurutu         3         -           -           -
17                Jundiá         1         -           1           -
18          Lagoa d’Anta         2         -           -           -
19       Lagoa de Velhos         1         -           -           -
20         Lagoa Salgada         1         -           -           -
21                 Lajes         2         -           -           -
22              Lucrécia         1       NaN         NaN         NaN
23            Luís Gomes         1         -           -           -
24               Macaíba        23         -           6           1
25                 Macau         3         -           -           -
26           Major Sales         1         -           -           -
27      Marcelino Vieira         3         -           -           -
28          Maxaranguape         1         -           -           -
29             Montanhas         4         -           -           -
30          Monte Alegre         -         -           -           1
31  Monte das Gameleiras         2         -           -           -
32               Mossoró       134         -          23          14
33                 Natal       524         -         181          22
34        Nísia Floresta         3         -           4           -
35             Nova Cruz         2         -           -           -
36        Olho-d'Água do       NaN       NaN         NaN         NaN
37                   NaN         1         -           -           -
38                Borges       NaN       NaN         NaN         NaN
39             Parazinho       NaN         -           1           -
40              Parelhas         3         -           2           -
41           Rio do Fogo         3         -           -           -
42        Riacho da Cruz         1         -           -           -
43          Passa e Fica         -         -           1           1
44              Passagem         2         -           -           -

In [230]:
# dfs[0].columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']
# df = dfs[0]
# df.drop(df.index[[0, 1]])

              municipio suspeito provavel descartado confirmado
2                 Acari       10        -          -          -
3                   Açu       29        -          4          -
4        Afonso Bezerra        1        -          -          -
5     Alto do Rodrigues        7        -          -          -
6               Angicos        8        -          1          -
7                 Apodi        4        -          -          -
8          Areia Branca        2        -          -          -
9        Augusto Severo        1        -          -          -
10         Baía Formosa        2        -          1          -
11              Baraúna       21        -          -          -
12            Barcelona        2        -          -          -
13                 Bodó        7        -          -          -
14            Bom Jesus        1        -          -          -
15             Brejinho        1        -          1          -
16     Caiçara do Norte        2        -          -          -
17                Caicó       17        -          2          -
18         Canguaretama        6        -          -          -
19             Caraúbas        5        -          2          -
20           Carnaubais       10        -          -          -
21          Ceará-Mirim        8        -          1          -
22           Cerro Corá        1        -          -          -
23  Coronel João Pessoa        2        -          -          -
24              Cruzeta        2        -          -          -
25        Currais Novos        1        -          -          -
26     Doutor Severiano        1        -          -          -
27           Parnamirim       88        1         43          6
28       Espírito Santo        1        -          -          -
29             Extremoz        8        -          1          -
30        Felipe Guerra        3        -          -          -
31     Fernando Pedroza        1        -          -          -
32             Florânia        2        -          -          -

In [220]:
#data = dfs[0].drop(df.index[[0, 1]])
#data.columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']

#for df in dfs[1:-1]:
#    df.columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']
#    df_ = df.drop(df.index[[0, 1]])
#    pd.concat([data, df_.reindex(data.index)])

In [360]:
df1 = dfs[0].drop(df.index[[0, 1]])
df2 = dfs[2].drop(df.index[[0, 1]])
df3 = dfs[3].drop(df.index[[0, 1]]) 


df1.columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']
df2.columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']
df3.columns = ['municipio', 'suspeito', 'provavel', 'descartado', 'confirmado']

In [433]:
data = pd.concat([df1, df2, df3])
data = data.reset_index(drop=True)
data

             municipio suspeito provavel descartado confirmado
0                Acari       10        -          -          -
1                  Açu       29        -          4          -
2       Afonso Bezerra        1        -          -          -
3    Alto do Rodrigues        7        -          -          -
4              Angicos        8        -          1          -
..                 ...      ...      ...        ...        ...
111             Touros        3        -          -          -
112           Umarizal        1        -          -          -
113          Venha-Ver        1        -          -          -
114          Vera Cruz        -        -          1          -
115                 RN     1101        1        307         45

[116 rows x 5 columns]

In [270]:
data[data['municipio'] == "Natal"][['confirmado', 'suspeito']]

   confirmado suspeito
33         22      524

In [271]:
df_old = pd.read_csv('https://raw.githubusercontent.com/leobezerra/covid19/master/data/rn_covid_19_boletins/03-25-2020.csv')

In [272]:
df_old

            municipio        data  confirmado  suspeito      lat       lon
0               Acari  2020-03-25           0         6 -6.43395 -36.63959
1      Afonso Bezerra  2020-03-25           0         1 -5.50095 -36.50317
2   Alto do Rodrigues  2020-03-25           0         7 -5.29508 -36.76236
3             Angicos  2020-03-25           0         9 -5.67997 -36.60629
4               Apodi  2020-03-25           0         3 -5.66309 -37.79820
..                ...         ...         ...       ...      ...       ...
89       Tibau do Sul  2020-03-25           0         4 -6.18847 -35.09057
90             Touros  2020-03-25           0         3 -5.19887 -35.46050
91           Umarizal  2020-03-25           0         1 -5.99099 -37.81270
92          Venha-Ver  2020-03-25           0         1 -6.32000 -38.49093
93          Vera Cruz  2020-03-25           0         1 -6.04383 -35.43211

[94 rows x 6 columns]

In [162]:
for m in df_old.municipio:
    print(f"{m} -> {df_old[df_old['municipio'] == m][['confirmado', 'suspeito']]}")
    print(f"{m} -> {data[data['municipio'] == m][['confirmado', 'suspeito']]}")

Acari ->    confirmado  suspeito
0           0         6
Acari ->   confirmado suspeito
2          -        6
Afonso Bezerra ->    confirmado  suspeito
1           0         1
Afonso Bezerra ->   confirmado suspeito
4          -        1
Alto do Rodrigues ->    confirmado  suspeito
2           0         7
Alto do Rodrigues ->   confirmado suspeito
5          -        7
Angicos ->    confirmado  suspeito
3           0         9
Angicos ->   confirmado suspeito
6          -        9
Apodi ->    confirmado  suspeito
4           0         3
Apodi ->   confirmado suspeito
7          -        3
Areia Branca ->    confirmado  suspeito
5           0         4
Areia Branca ->   confirmado suspeito
8          -        4
Augusto Severo ->    confirmado  suspeito
6           0         1
Augusto Severo ->   confirmado suspeito
9          -        1
Açu ->    confirmado  suspeito
7           0        29
Açu ->   confirmado suspeito
3          -       29
Baraúna ->    confirmado  suspeito
8           0        21
Baraúna ->    confirmado suspeito
11          -       21
Barcelona ->    confirmado  suspeito
9           0         2
Barcelona ->    confirmado suspeito
12          -        2
Baía Formosa ->     confirmado  suspeito
10           0         0
Baía Formosa ->    confirmado suspeito
10          -        -
Bodó ->     confirmado  suspeito
11           0         7
Bodó ->    confirmado suspeito
13          -        7
Bom Jesus ->     confirmado  suspeito
12           0         1
Bom Jesus ->    confirmado suspeito
14          -        1
Brejinho ->     confirmado  suspeito
13           0         2
Brejinho ->    confirmado suspeito
15          -        2
Caicó ->     confirmado  suspeito
14           0         3
Caicó ->    confirmado suspeito
17          -        3
Caiçara do Norte ->     confirmado  suspeito
15           0         1
Caiçara do Norte ->    confirmado suspeito
16          -        1
Canguaretama ->     confirmado  suspeito
16           0         6
Canguaretama ->    confirmado suspeito
18          -        6
Caraúbas ->     confirmado  suspeito
17           0         5
Caraúbas ->    confirmado suspeito
19          -        5
Carnaubais ->     confirmado  suspeito
18           0        10
Carnaubais ->    confirmado suspeito
20          -       10
Ceará-Mirim ->     confirmado  suspeito
19           0         7
Ceará-Mirim ->    confirmado suspeito
21          -        7
Cerro Corá ->     confirmado  suspeito
20           0         1
Cerro Corá ->    confirmado suspeito
22          -        1
Coronel João Pessoa ->     confirmado  suspeito
21           0         3
Coronel João Pessoa ->    confirmado suspeito
23          -        3
Cruzeta ->     confirmado  suspeito
22           0         2
Cruzeta ->    confirmado suspeito
24          -        2
Currais Novos ->     confirmado  suspeito
23           0         1
Currais Novos ->    confirmado suspeito
25          -        1
Doutor Severiano ->     confirmado  suspeito
24           0         1
Doutor Severiano ->    confirmado suspeito
26          -        1
Espírito Santo ->     confirmado  suspeito
25           0         1
Espírito Santo ->    confirmado suspeito
28          -        1
Extremoz ->     confirmado  suspeito
26           0         8
Extremoz ->    confirmado suspeito
29          -        8
Felipe Guerra ->     confirmado  suspeito
27           0         1
Felipe Guerra ->    confirmado suspeito
30          -        1
Fernando Pedroza ->     confirmado  suspeito
28           0         1
Fernando Pedroza ->    confirmado suspeito
31          -        1
Florânia ->     confirmado  suspeito
29           0         2
Florânia ->    confirmado suspeito
32          -        2
Frutuoso Gomes ->     confirmado  suspeito
30           0         1
Frutuoso Gomes ->    confirmado suspeito
33          -        1
Goianinha ->     confirmado  suspeito
31           0         2
Goianinha ->    confirmado suspeito
34          -        2
Governador Dix-Sept Rosado ->     confirmado  suspeito
32           0         4
Governador Dix-Sept Rosado -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Guamaré ->     confirmado  suspeito
33           0        24
Guamaré -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Ipanguaçu ->     confirmado  suspeito
34           0         1
Ipanguaçu -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Ipueira ->     confirmado  suspeito
35           0         2
Ipueira -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Itajá ->     confirmado  suspeito
36           0         2
Itajá -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Januário Cicco ->     confirmado  suspeito
37           0         1
Januário Cicco -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Jardim do Seridó ->     confirmado  suspeito
38           0         3
Jardim do Seridó -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
João Câmara ->     confirmado  suspeito
39           0         3
João Câmara -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Jucurutu ->     confirmado  suspeito
40           0         3
Jucurutu -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Jundiá ->     confirmado  suspeito
41           0         2
Jundiá -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Lagoa Salgada ->     confirmado  suspeito
42           0         1
Lagoa Salgada -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Lagoa d'Anta ->     confirmado  suspeito
43           0         2
Lagoa d'Anta -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Lagoa de Velhos ->     confirmado  suspeito
44           0         1
Lagoa de Velhos -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Lajes ->     confirmado  suspeito
45           0         2
Lajes -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Luís Gomes ->     confirmado  suspeito
46           0         1
Luís Gomes -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Macau ->     confirmado  suspeito
47           0         2
Macau -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Macaíba ->     confirmado  suspeito
48           0        21
Macaíba -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Major Sales ->     confirmado  suspeito
49           0         1
Major Sales -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Marcelino Vieira ->     confirmado  suspeito
50           0         1
Marcelino Vieira -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Maxaranguape ->     confirmado  suspeito
51           0         1
Maxaranguape -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Montanhas ->     confirmado  suspeito
52           0         4
Montanhas -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Monte Alegre ->     confirmado  suspeito
53           0         1
Monte Alegre -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Monte das Gameleiras ->     confirmado  suspeito
54           0         2
Monte das Gameleiras -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Mossoró ->     confirmado  suspeito
55           2       151
Mossoró -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Natal ->     confirmado  suspeito
56          13       532
Natal -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Nova Cruz ->     confirmado  suspeito
57           0         5
Nova Cruz -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Nísia Floresta ->     confirmado  suspeito
58           0         3
Nísia Floresta -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Olho-d'Água do Borges ->     confirmado  suspeito
59           0         1
Olho-d'Água do Borges -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Parelhas ->     confirmado  suspeito
60           0         3
Parelhas -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Parnamirim ->     confirmado  suspeito
61           4        83
Parnamirim ->    confirmado suspeito
27          4       83
Passa e Fica ->     confirmado  suspeito
62           0         1
Passa e Fica -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Passagem ->     confirmado  suspeito
63           0         2
Passagem -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Patu ->     confirmado  suspeito
64           0         2
Patu -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Pau dos Ferros ->     confirmado  suspeito

65           0         4
Pau dos Ferros -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Pedro Velho ->     confirmado  suspeito
66           0         2
Pedro Velho -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Pendências ->     confirmado  suspeito
67           0         1
Pendências -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Pilões ->     confirmado  suspeito
68           0         1
Pilões -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Rafael Fernandes ->     confirmado  suspeito
69           0         1
Rafael Fernandes -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Riachuelo ->     confirmado  suspeito
70           0         1
Riachuelo -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Rio do Fogo ->     confirmado  suspeito
71           0         3
Rio do Fogo -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Ruy Barbosa ->     confirmado  suspeito
72           0         1
Ruy Barbosa -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Santa Cruz ->     confirmado  suspeito
73           0         5
Santa Cruz -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Santa Maria ->     confirmado  suspeito
74           0         1
Santa Maria -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Santana do Matos ->     confirmado  suspeito
75           0         1
Santana do Matos -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Santo Antônio ->     confirmado  suspeito
76           0         1
Santo Antônio -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Serra do Mel ->     confirmado  suspeito
77           0         1
Serra do Mel -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Fernando ->     confirmado  suspeito
78           0         1
São Fernando -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Francisco do Oeste ->     confirmado  suspeito
79           0         1
São Francisco do Oeste -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Gonçalo do Amarante ->     confirmado  suspeito
80           0        23
São Gonçalo do Amarante -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São José de Mipibu ->     confirmado  suspeito
81           0         6
São José de Mipibu -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São José do Campestre ->     confirmado  suspeito
82           0         4
São José do Campestre -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São João do Sabugi ->     confirmado  suspeito
83           0         3
São João do Sabugi -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Miguel ->     confirmado  suspeito
84           0         3
São Miguel -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Miguel do Gostoso ->     confirmado  suspeito
85           0         2
São Miguel do Gostoso -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
São Paulo do Potengi ->     confirmado  suspeito
86           0         1
São Paulo do Potengi -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Sítio Novo ->     confirmado  suspeito
87           0         1
Sítio Novo -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Tibau ->     confirmado  suspeito
88           0         1
Tibau -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Tibau do Sul ->     confirmado  suspeito
89           0         4
Tibau do Sul -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Touros ->     confirmado  suspeito
90           0         3
Touros -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Umarizal ->     confirmado  suspeito
91           0         1
Umarizal -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Venha-Ver ->     confirmado  suspeito
92           0         1
Venha-Ver -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []
Vera Cruz ->     confirmado  suspeito
93           0         1
Vera Cruz -> Empty DataFrame
Columns: [confirmado, suspeito]
Index: []

In [273]:
df_old[df_old['municipio'] == "Natal"][['confirmado', 'suspeito']]

    confirmado  suspeito
56          13       532

In [274]:
data[data['municipio'] == "Natal"][['confirmado', 'suspeito']]

   confirmado suspeito
33         22      524

In [397]:
data[data['municipio'].isnull()]

    municipio suspeito provavel descartado confirmado
34        NaN        4        -          -          -
66        NaN        1        -          -          -
90        NaN        1        -          -          -
93        NaN       21        -          7          -
98        NaN        4        -          1          -
103       NaN        1        -          2          -

In [398]:
data[data.isnull().any(1)]

             municipio suspeito provavel descartado confirmado
33   Governado Dix-Sep      NaN      NaN        NaN        NaN
34                 NaN        4        -          -          -
35              Rosado      NaN      NaN        NaN        NaN
51            Lucrécia        1      NaN        NaN        NaN
65      Olho-d'Água do      NaN      NaN        NaN        NaN
66                 NaN        1        -          -          -
67              Borges      NaN      NaN        NaN        NaN
68           Parazinho      NaN        -          1          -
89    São Francisco do      NaN      NaN        NaN        NaN
90                 NaN        1        -          -          -
91               Oeste      NaN      NaN        NaN        NaN
92      São Gonçalo do      NaN      NaN        NaN        NaN
93                 NaN       21        -          7          -
94            Amarante      NaN      NaN        NaN        NaN
97         São José do      NaN      NaN        NaN        NaN
98                 NaN        4        -          1          -
99           Campestre      NaN      NaN        NaN        NaN
102      São Miguel do      NaN      NaN        NaN        NaN
103                NaN        1        -          2          -
104            Gostoso      NaN      NaN        NaN        NaN

In [396]:
data[data['municipio'].isnull()].iloc[0, [0, 1, 2, 3, 4]].name

34

In [370]:
data[data.isnull().any(1)].iloc[[0, 2], 0]

4    Governado Dix-Sep
6               Rosado
Name: municipio, dtype: object

In [371]:
data[data.isnull().any(1)].iloc[0, 0]

'Governado Dix-Sep'

In [407]:
data = data.reset_index(drop=True)

In [409]:
data

             municipio suspeito provavel descartado confirmado
0                Acari       10        -          -          -
1                  Açu       29        -          4          -
2       Afonso Bezerra        1        -          -          -
3    Alto do Rodrigues        7        -          -          -
4              Angicos        8        -          1          -
..                 ...      ...      ...        ...        ...
111             Touros        3        -          -          -
112           Umarizal        1        -          -          -
113          Venha-Ver        1        -          -          -
114          Vera Cruz        -        -          1          -
115                 RN     1101        1        307         45

[116 rows x 5 columns]

In [393]:
# data.at[4, 'municipio'] = ' '.join(data[data.isnull().any(1)].iloc[[0, 2], 0])

In [ ]:
# data[data.isnull().any(1)].at[4, 'municipio']

In [399]:
data[data['municipio'].isnull()]
# index = row.name

    municipio suspeito provavel descartado confirmado
34        NaN        4        -          -          -
66        NaN        1        -          -          -
90        NaN        1        -          -          -
93        NaN       21        -          7          -
98        NaN        4        -          1          -
103       NaN        1        -          2          -

In [420]:
data

             municipio suspeito provavel descartado confirmado
0                Acari       10        -          -          -
1                  Açu       29        -          4          -
2       Afonso Bezerra        1        -          -          -
3    Alto do Rodrigues        7        -          -          -
4              Angicos        8        -          1          -
..                 ...      ...      ...        ...        ...
111             Touros        3        -          -          -
112           Umarizal        1        -          -          -
113          Venha-Ver        1        -          -          -
114          Vera Cruz        -        -          1          -
115                 RN     1101        1        307         45

[112 rows x 5 columns]

In [434]:
drop_lines = []
for index, row in data[data['municipio'].isnull()].iterrows():
    print(' '.join(data.iloc[[index-1, index+1], 0]))
    
    data.at[index-1, 'municipio'] = ' '.join(data.iloc[[index-1, index+1], 0])
    data.at[index-1, 'suspeito'] = data.iloc[index, 1]
    data.at[index-1, 'provavel'] = data.iloc[index, 2]
    data.at[index-1, 'confirmado'] = data.iloc[index, 3]
    drop_lines.extend([index, index+1])

new_data = data.drop(drop_lines)

Governado Dix-Sep Rosado
Olho-d'Água do Borges
São Francisco do Oeste
São Gonçalo do Amarante
São José do Campestre
São Miguel do Gostoso

In [437]:
new_data[new_data["municipio"] == "Governado Dix-Sep Rosado"]

                   municipio suspeito provavel descartado confirmado
33  Governado Dix-Sep Rosado        4        -        NaN          -

In [438]:
new_data[new_data.isnull().any(1)]

                    municipio suspeito provavel descartado confirmado
33   Governado Dix-Sep Rosado        4        -        NaN          -
51                   Lucrécia        1      NaN        NaN        NaN
65      Olho-d'Água do Borges        1        -        NaN          -
68                  Parazinho      NaN        -          1          -
89     São Francisco do Oeste        1        -        NaN          -
92    São Gonçalo do Amarante       21        -        NaN          7
97      São José do Campestre        4        -        NaN          1
102     São Miguel do Gostoso        1        -        NaN          2

In [446]:
for index, row in new_data.iterrows():
    print(row["municipio"])

Acari
Açu
Afonso Bezerra
Alto do Rodrigues
Angicos
Apodi
Areia Branca
Augusto Severo
Baía Formosa
Baraúna
Barcelona
Bodó
Bom Jesus
Brejinho
Caiçara do Norte
Caicó
Canguaretama
Caraúbas
Carnaubais
Ceará-Mirim
Cerro Corá
Coronel João Pessoa
Cruzeta
Currais Novos
Doutor Severiano
Parnamirim
Espírito Santo
Extremoz
Felipe Guerra
Fernando Pedroza
Florânia
Frutuoso Gomes
Goianinha
Governado Dix-Sep Rosado
Grossos
Guamaré
Ipanguaçu
Ipueira
Itajá
Januário Cicco
Japi
Jardim do Seridó
João Câmara
Jucurutu
Jundiá
Lagoa d’Anta
Lagoa de Velhos
Lagoa Salgada
Lajes
Lucrécia
Luís Gomes
Macaíba
Macau
Major Sales
Marcelino Vieira
Maxaranguape
Montanhas
Monte Alegre
Monte das Gameleiras
Mossoró
Natal
Nísia Floresta
Nova Cruz
Olho-d'Água do Borges
Parazinho
Parelhas
Rio do Fogo
Riacho da Cruz
Passa e Fica
Passagem
Patu
Santa Maria
Pau dos Ferros
Pedro Velho
Pendências
Pilões
Serra Caiada
Rafael Fernandes
Riachuelo
Tibau
Ruy Barbosa
Santa Cruz
Santana dos Matos
Santo Antônio
São Fernando
São Francisco do Oeste
São Gonçalo do Amarante
São João do Sabugi
São José de Mipibu
São José do Campestre
São José do Seridó
São Miguel
São Miguel do Gostoso
São Paulo do Potengi
Serra do Mel
Sítio Novo
Tenente Ananias
Tibau do Sul
Timbaúba dos Batistas
Touros
Umarizal
Venha-Ver
Vera Cruz
RN

In [448]:
new_data[new_data["municipio"] == "Natal"]

   municipio suspeito provavel descartado confirmado
62     Natal      524        -        181         22